<h1>Listing posts</h1>
<div class="row">
<div class="span10">
<table class="table table-condensed table-bordered">
  <tr>
    <th>Title</th>
    <th>User</th>
    <th>Date Posted</th>
  </tr>

<% @posts.each do |post| %>
  <tr>
    <td><%= link_to post.title, post %></td>
    <td><%= User.find(post.user_id).email %></td>
    <td><%= post.created_at %></td>
  </tr>
<% end %>
</table>
</div>
</div>

<%= link_to 'New Post', new_post_path, class: "btn" %>
