<p id="notice"><%= notice %></p>

<h2><%= @post.title %></h2>

<p>posted by <%= User.find(@post.user_id).email %> <br> at <%= @post.created_at %></p>

<p>
 <%= @post.content %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
