<!DOCTYPE html>
<html>
<head>
  <title>Messageboard</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="navbar">
    <div class="navbar-inner">
      <a class="brand" href="<%= root_path %>">Message Board</a>
      <% if user_signed_in? %>
        <p class="navbar-text pull-right">Signed in as <%= current_user.email %>. Not you?
        <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %></p>
      <% else %>
        <p class="navbar-text pull-right"><%= link_to 'Sign up', new_user_registration_path %> or <%= link_to 'Sign in', new_user_session_path %></p>
      <% end %>
    </div>
  </div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</div>
</body>
</html>
